<!DOCTYPE html>
<html>
<head>
  <title>Warehouse Management</title>
</head>
<body>
  <h1>Products</h1>
  <ul>
    <% products.forEach(product => { %>
      <li><%= product.name %> - <%= product.quantity %> <%= product.unit %> - $<%= product.price %></li>
    <% }) %>
  </ul>
</body>
</html>